* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Monospace", san-serif;
}

.page {
	background-color: #f0f0f0;
}
header{
	position: relative;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}

.search-input{
	height: 65px;
}

.search-input > input{
	position: absolute;
	padding: 3px 15px 0 15px;
	top: 30px;
	right: 40px;
	height: 33px;
	width: 200px;
}

.header-inner{
	position: relative;
	width: 1000px;
	margin:0 auto;
}
div[class*="header-inner"] > a{
	text-decoration: none;
	color: rgba(0,0,0,0.8);
}

div[class*="header-inner"] > h2{
	font-weight: normal;
	font-size: 15px;
	color: #cecece;
}

nav {
	width: 1000px;
	border-top:1px solid rgba(0,0,0,0.3);

}

nav > ul > li{
	display: block;
	float: left;
}

nav > ul > li > a{
	text-decoration: none;
	line-height: 53px;
	text-align: center;
	display: block;
	height: 53px;
	padding: 0 15px;
	font-family: serif;
	font-weight: bold;
	color: #727272;
}

nav > ul > li > a:hover{
	background-color: #ff671d;
	color: white;
	transition: 0.3s;
	text-decoration: none;
	line-height: 53px;
	text-align: center;
	display: block;
	height: 53px;
	padding: 0 15px;
	font-family: serif;
	font-weight: bold;
}

img[alt*="stone"]{
	height: 500px;
	width: 100%;
}

.image{
	position: relative;
}

.image > .image-text-container{
	position: absolute;
	bottom: 15%;
	left: 15%;
	padding: 25px;
	background-color: rgba(0,0,0,0.8);
}

.image > .image-text-container > a {
	text-decoration: none;
	color: #fff;
}

.image > .image-text-container > a:hover {
	text-decoration: underline;
}

.image > .image-text-container > a > h2{
	color: rgba(255,255,255,0.8);
	margin-bottom: 15px;
}

.image > .image-text-container > p{
	color: #8b8b8b;
}

main{
	margin: 20px 130px 0 130px;
	height: 1875px;
	width: 950;
	padding: 30px 25px 35px 25px;
	background-color: white;
}

.main-image{
	margin-bottom: 30px;
}

.image-container1{
	position: relative;
	float: left;
	margin: 0 1%;
	height: 175px;
	width: 31%;
}


.image-container1 > img[alt*="main"]{
	position: absolute;
	height: 100%;
	width: 100%;
}

.image-container1:hover > .image1-container-text{
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: rgba(0,0,0,0.7);
	border: 1px solid black;
	padding: 14px 13px 12px 13px;
}

.image-container2{
	position: relative;
	float: left;
	margin: 0 1%;
	height: 175px;
	width: 31%;
}

.image-container2 > img[alt*="main"]{
	position: absolute;
	height: 100%;
	width: 100%;
}

.image-container2:hover > .image2-container-text{
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: rgba(0,0,0,0.7);
	border: 1px solid black;
	padding: 14px 13px 12px 13px;
}

.image-container3{
	position: relative;
	float: left;
	margin: 0 1%;
	height: 175px;
	width: 31%;
}

.image-container3:hover > .image3-container-text{
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: rgba(0,0,0,0.7);
	border: 1px solid black;
	padding: 14px 13px 12px 13px;
}

.image-container3 > img[alt*="main"]{
	position: absolute;
	height: 100%;
	width: 100%;
}


/*text 1*/
.image1-container-text{
	width: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	border: 1px solid black;
	padding: 14px 13px 12px 13px;
}


.image1-container-text > h4{
	margin-bottom: 5px;
	color: #fff;
}

.image1-container-text > a{
	color: #ff671d;
	text-decoration: none;
}

.image1-container-text > a:hover{
	text-decoration:underline;
}

/*text 2*/
.image2-container-text{
	width: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	border: 1px solid black;
	padding: 14px 13px 12px 13px;
}


.image2-container-text > h4{
	margin-bottom: 5px;
	color: #fff;
}


.image2-container-text > a{
	color: #ff671d;
	text-decoration: none;
}

.image2-container-text > a:hover{
	text-decoration:underline;
}
/*text3*/
.image3-container-text{
	width: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	border: 1px solid black;
	padding: 14px 13px 12px 13px;
}

.image3-container-text > h4{
	margin-bottom: 5px;
	color: #fff;
}

.image3-container-text > a{
	color: #ff671d;
	text-decoration: none;
}

.image3-container-text > a:hover{
	text-decoration:underline;
}

.container-posts{
	width: 65%;
}

.container-posts > div[class*="post"]{
	padding-bottom: 20px;
	margin-bottom: 20px;
	color: #717171;
	border-bottom:1px solid rgba(0,0,0,0.3);
}

.container-posts > div[class*="post"] > a{
	font-size: 25px;
	color: #052c19;
	font-family: monospace;
	font-weight: bold;
	text-decoration: none;
}

.container-posts > div[class*="post"] > a:hover{
	text-decoration: underline;
	color: black;

}

.container-posts  div[class*="a"] > a{
	text-decoration: none;
	color: #717171;
}

.container-posts  div[class*="a"] {
	margin-bottom: 15px;
}

.post-content{
	position: relative;
	height: 100px;
}


.container-posts button{
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #ff671d;
	color: white;
	padding: 12px 27px 9px 25px;
	border-radius: 10px;
	border: 0;
}

.container-posts button > a{
	color: white;
	text-decoration: none;
}

.container-posts button > a:hover{
	color: white;
	text-decoration: underline;
}

/*POST 1*/
.post1 img{
	float: left;
	height: 90px;
	width: 120px;
	padding: 4px;
	border: 1px double rgba(0,0,0,0.1);
	margin: 0 10px 5px 0;
}


/*POST 2*/
.post2 img{
	float: left;
	height: 90px;
	width: 120px;
	padding: 4px;
	border: 1px double rgba(0,0,0,0.1);
	margin: 0 10px 5px 0;
}


/*POST 3*/
.post3 img{
	float: left;
	height: 90px;
	width: 120px;
	padding: 4px;
	margin: 0 10px 5px 0;
	border: 1px double rgba(0,0,0,0.1);
}

/*POST 4*/
.post4 img{
	float: left;
	height: 90px;
	width: 120px;
	padding: 4px;
	margin: 0 10px 5px 0;
	border: 1px double rgba(0,0,0,0.1);
}

/*POST 5*/
.post5 img{
	float: left;
	height: 90px;
	width: 120px;
	padding: 4px;
	margin: 0 10px 5px 0;
	border: 1px double rgba(0,0,0,0.1);
}

/*POST 6*/
.post6 img{
	float: left;
	height: 90px;
	width: 120px;
	padding: 4px;
	margin: 0 10px 5px 0;
	border: 1px double rgba(0,0,0,0.1);
}


.sidebar-down{
	/*height: 189px;*/
	width: 100%;
	padding: 80px 0 40px 0;
	background-color: black;
}


.sidebar-down h2 {
	height: 20px;
	color: #585757;
}

.sidebar-down div[class*="wrapper"] {
	float: left;
	width: 30%;
	margin: 0 1%;
}


footer{
	background-color: white;
	color: #8f8f8f;
	height: 50px;
	line-height: 50px;
	text-align: center;
}